<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cabeçalho compacto</title>

        <link rel="stylesheet" href="css/style.css">

</head>
<body>
<header>
     
  <div class="menu">
   <img class="logoimagem" src="img/logo2.png" alt="Logo do site">
    <a href="#">Início</a>
    <a href="#">Sobre</a>
    <a href="#">Serviços</a>
    <a href="#">Contato</a>
    <a href="#">bla</a>
    <img class="avatarimagem" src="img/avatar.png" alt="Avatar do usuário">
  </div>
</header>
</body>
</html>
