<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cabeçalho compacto</title>

        <link rel="stylesheet" href="../../public/">

</head>
<body>
<header>
     
  <div class="menu">
   <img class="logoimagem" src="../src/public/imagens/logo.png" alt="Logo do site">
   <form class="pesquisar">
    <input type="search" class="pesquisar__input" placeholder="Pesquisar">
    <img class="lupa__pesquisa" src="../src/public/imagens/lupa.png" alt=""> </form>
    <a href="#">Início</a>
    <a href="#">Novidades</a>
    <a href="#">Conteúdo</a>
    <a href="#">Usuários</a>
    <img class="avatarimagem" src="../src/public/imagens/12225881.png" alt="Avatar do usuário">

  </div>
</header>

<footer>
  <div class="footer">
    <div class="footer__conteudo">
      <img class="imagens_usuarios" src="../src/public/imagens/12225881.png" alt="">
      <p>Cássia</p>   
    </div>

    <div class="footer__conteudo">
      <img class="imagens_usuarios" src="../src/public/imagens/12225881.png" alt="">
      <p>Jonas</p> 
    </div>

    <div class="footer__conteudo">
      <img class="imagens_usuarios" src="../src/public/imagens/12225881.png" alt="">
      <p>Maria</p> 
    </div>

     <div class="footer__conteudo">
      <img class="imagens_usuarios" src="../src/public/imagens/12225881.png" alt="">
      <p>Julia</p> 
    </div>
       <div class="footer__conteudo">
      <img class="imagens_usuarios" src="../src/public/imagens/12225881.png" alt="">
      <p>Matheus</p> 
    </div>

     <div class="footer__conteudo">
      <img class="imagens_usuarios" src="../src/public/imagens/12225881.png" alt="">
      <p>Luisa</p> 
    </div>

     <div class="footer__conteudo">
      <img class="imagens_usuarios" src="../../public/imagens/logo.png" alt="aa">
      <p>Pedro</p> 
    </div>

     <div class="footer__conteudo">
      <img class="imagens_usuarios" src="../../public/imagens/12225881.png" alt="aaa">
      <p>Lucas</p> 
    </div>
  </div>
</footer>


</body>
</html>
